{% extends 'dashboard_base.html.twig' %}

{% block title %}{% trans %}title_register{% endtrans %}{% endblock %}

{% block body %}
<!-- [ auth-signup ] start -->
<div class="auth-wrapper">
	<div class="auth-content">
		<div class="card">
			<div class="row align-items-center text-center">
				<div class="col-md-12">
					<div class="card-body">
						<img src="{{ asset('images/logo_flyer.png') }}" alt="" class="img-fluid mb-4">
						<h4 class="mb-3 f-w-400">{% trans %}title_register{% endtrans %}</h4>						
						{{ form(form) }}
						<p class="mb-2">{% trans %}already_have_account{% endtrans %} ? <a href="{{ path('app_login') }}" class="f-w-400">{% trans %}button_login{% endtrans %}</a></p>
						<p class="mb-0 text-muted">{% trans %}forgot_password{% endtrans %} ? <a href="{{ path('app_forgot_password_request') }}" class="f-w-400">{% trans %}button_reset{% endtrans %}</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- [ auth-signup ] end -->
{% endblock %}
