{% extends 'base.html.twig' %}

{% block title %}{{ ('title_home')|trans }}{% endblock %}
{% block subtitle %}{{ ('subtitle_home')|trans }}{% endblock %}

{% block body %}
<!-- Banner -->
<section id="banner">
	<div class="inner">
		<h2><img src="{{ asset('images/logo_flyer.png') }}" alt=""></h2>
		
		<p>Live TRANCE and MUSIC<br />
		like you won't hear<br />
		anywhere else!</p>
		<ul class="actions special">
			<li><iframe class="player_home" src="https://stream.stargame.fr:10443/public/extravaganza/embed?theme=dark" frameborder="0" allowtransparency="false"></iframe></li>
		</ul>
	</div>
	<a href="#one" class="more scrolly">{{ ('title_learn_more')|trans }}</a>
</section>

<!-- One -->
<section id="one" class="wrapper style2 special">
	<div class="inner">
		<header class="major">
			<h2>{{ ('events_home')|trans }}</h2>
			<p>{{ ('diamond_home')|trans }}</p>
		</header>
		<ul class="icons major">
			<li><a href="#"><span class="icon fa-gem major style1"><span class="label">Lorem</span></span></a></li>
		</ul>
	</div>
</section>

<!-- Two -->
<section id="two" class="wrapper alt style2">
	<section class="spotlight">
		<div class="image"><iframe width="700" height="414" src="https://www.youtube.com/embed/JhYPoEfHBPU?rel=0&amp;controls=0" frameborder="0"></iframe></div>
		<div class="content">
			<h2>ᴇXᴛʀᴀᴠᴀɢᴀɴᴢᴀ ɴɪɢʜᴛ ʙᴀᴛᴛʟᴇs<br />
			Filmed by 3DXChat Staff</h2>
			<p>==============================<br />
				ExTRAVAGANZA Night Club  Battle Girls vs. boys<br />
				22.02.2022<br />
				8:00 pm - 01:00 am <br />
				=============== <br />
				20:00 - 21:00 - XxDenisxX <br />
				21:00 - 22:00 - Vika <br />
				22:00 - 23:00 -  xZARx <br />
				23:00 - 00:00 - 𝕕𝕛𝕄𝕠𝕠𝕟ℕ𝕠𝕚𝕣𝕖<br />
				00:00 - 01:00 - FilippoDJ<br />
				<br />
				*  Hosts : Bonzo ,Leonor</p>
		</div>
	</section>
	<section class="spotlight">
		<div class="image"><iframe width="700" height="414" src="https://www.youtube.com/embed/nXJljQxxyiI?rel=0&amp;controls=0" frameborder="0"></iframe></div>
		<div class="content">
			<h2>Night Party</h2>
			<p>==============================<br />
				ExTRAVAGANZA Night Party<br />
				06.07.2021<br />
				8:30 pm - 01:00 am <br />
				=============== <br />
				20:30 - 22:00 - SpikeyB <br />
				22:00 - 23:00 -  xZARx <br />
				23:00 - 00:00 - Nadouce<br />
				00:00 - 01:00 - Aleynna DJ<br />
				<br />
				** Team Dance : Moon*<br />
				*  Hosts : Bonzo</p>
		</div>
	</section>
	<section class="spotlight">
		<div class="image"><img src="{{ asset('images/pic03.jpg') }}" alt="" /></div><div class="content">
			<h2>Augue eleifend aliquet<br />
			sed condimentum</h2>
			<p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.</p>
		</div>
	</section>
</section>

<!-- Three -->
<section id="three" class="wrapper style3 special">
	<div class="inner">
		<header class="major">
			<h2>Accumsan mus tortor nunc aliquet</h2>
			<p>Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br />
			fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.</p>
		</header>
		<ul class="features">
			<li class="icon fa-paper-plane">
				<h3>Arcu accumsan</h3>
				<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
			</li>
			<li class="icon solid fa-laptop">
				<h3>Ac Augue Eget</h3>
				<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
			</li>
			<li class="icon solid fa-code">
				<h3>Mus Scelerisque</h3>
				<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
			</li>
			<li class="icon solid fa-headphones-alt">
				<h3>Mauris Imperdiet</h3>
				<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
			</li>
			<li class="icon fa-heart">
				<h3>Aenean Primis</h3>
				<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
			</li>
			<li class="icon fa-flag">
				<h3>Tortor Ut</h3>
				<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
			</li>
		</ul>
	</div>
</section>

<!-- CTA -->
<section id="cta" class="wrapper style4">
	<div class="inner">
		<header>
			<h2>Arcue ut vel commodo</h2>
			<p>Aliquam ut ex ut augue consectetur interdum endrerit imperdiet amet eleifend fringilla.</p>
		</header>
		<ul class="actions stacked">
			<li><a href="#" class="button fit primary">Activate</a></li>
			<li><a href="#" class="button fit">Learn More</a></li>
		</ul>
	</div>
</section>
{% endblock %}
