{% extends 'dashboard_base.html.twig' %}

{% block title %}{% trans %}title_user_profile{% endtrans %}{% endblock %}
{% block subtitle %}{% if app.user.mainRank %}{{ app.user.mainRank.shortname }}. {% endif %}{{ app.user.fullName }}{% endblock %}


{% block body %}
<div class="row">
    <div class="col-lg-6">
      <h2>{% trans %}title_password{% endtrans %}</h2>
      <hr>
      {{ form(form) }}     
    </div>    
  </div>
{% endblock %}
