{% extends 'dashboard_base.html.twig' %}

{% block title %}{% trans %}title_password_reset{% endtrans %}{% endblock %}
{% block body %}
<!-- [ auth-signin ] start -->
<div class="auth-wrapper">
	<div class="auth-content">
		<div class="card">
			<div class="row align-items-center text-center">
				<div class="col-md-12">
					<div class="card-body">
						<img src="{{ asset('images/logo_flyer.png') }}" alt="" class="img-fluid mb-4">
						<h4 class="mb-3 f-w-400">{% trans %}title_password_reset{% endtrans %}</h4>
                        {% for flashError in app.flashes('reset_password_error') %}
                            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                        {% endfor %}

						{{ form(requestForm) }}

						<p class="mb-0 text-muted">{% trans %}no_account{% endtrans %} ? <a href="{{ path('app_register') }}" class="f-w-400">{% trans %}button_register{% endtrans %}</a></p>
						<p class="mb-2">{% trans %}already_have_account{% endtrans %} ? <a href="{{ path('app_login') }}" class="f-w-400">{% trans %}button_login{% endtrans %}</a></p>
                        

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- [ auth-signin ] end -->
{% endblock %}