{% extends 'dashboard_base.html.twig' %}

{% block title %}{% trans %}title_group_view_documents{% endtrans %}{% endblock %}

{% block body %}
{% set groupLogo = 'img/nologo.png' %}                
{% if group.imageSize != 0 %}
  {% set groupLogo = 'uploads/groups/' ~ group.imageName %}
{% endif %}
  <div class="row">    
    <div class="col-12 col-md-5">{{form(searchForm)}}</div>
  </div>
  <div class="row">
    <div class="col-md-8">        
      <h2>{% trans %}title_documents{% endtrans %}</h2>
      <hr>
      {% include '_cells/documentTable.html.twig' with {'documents': pagination} %}
    </div>
    <div class="col-md-4">
      <h2>{% trans %}title_informations{% endtrans %}</h2>
      
      <div class="row">
        <div class="col-md-12 my-5">            
          <div class="text-center">     
            <img src="{{ asset(groupLogo) }}" alt="{{group.shortname}}" class="img-fluid">
          </div>
          <h3>{{group.name}}</h3>
          <h4>{% trans %}title_shortname{% endtrans %}: <small>{{group.shortname}}</small><span class="float-end">{% include '_cells/adminGroupActions.html.twig' with {'group': group} %}</span></h4>
        </div>          
      </div>
      
      
    </div>
  </div>
  <div class="row">{{ knp_pagination_render(pagination) }}</div>
{% endblock %}
