{% extends 'dashboard_base.html.twig' %}

{% block title %}{% trans %}title_group_edition{% endtrans %}{% endblock %}

{% block body %}
{% set groupLogo = 'img/nologo.png' %}

  {% if group.imageSize != 0 %}
    {% set groupLogo = 'uploads/groups/' ~ group.imageName %}
  {% endif %}

  <div class="row">
      <div class="col-lg-6">
        {{form(form)}}
      </div>
      <div class="col-lg-6">
        <div class="card">  
          <div class="card-header">{% trans %}form_label_group_logo{% endtrans%}</div>      
          <div class="card-body">
            <p class="card-text">
              <a data-toggle="lightbox" href="{{ asset(groupLogo) }}">
                <img class="img-fluid" src="{{ asset(groupLogo) }}" alt="{{ group.name}}">
              </a>
            </p>          
          </div>
        </div>      
      </div>
    </div>
{% endblock %}
