{% extends 'dashboard_base.html.twig' %}

{% block title %}{% trans %}title_group_subgroup_view{% endtrans %}{% endblock %}

{% block body %}
  <div class="row">
      <div class="col-lg-6">
        <h2>{% trans %}title_subgroup{% endtrans %}: {{subgroup.name}} {% include '_cells/adminSubGroupActions.html.twig' with {'subgroup': subgroup} %}</h2>
        <hr>
        <h3>{% trans %}title_members{% endtrans %}</h3>
        <hr>
        {% include '_cells/adminUserTable.html.twig' with {'users': subgroup.users} %}
      </div>      
  </div>
{% endblock %}
