{% extends 'dashboard_base.html.twig' %}

{% block title %}{% trans %}title_administration{% endtrans %}{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6">
        <div class="card flat-card">
            <div class="row-table">
                <div class="col-sm-6 card-body br">
                    <div class="row">
                        <div class="col-sm-4">
                            <i class="material-icons-two-tone text-primary mb-1">person</i>
                        </div>
                        <div class="col-sm-8 text-md-center">
                            <h5>{{ users|length }}</h5>
                            <span>{% trans %}title_users{% endtrans %}</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 d-none d-md-table-cell d-lg-table-cell d-xl-table-cell card-body br">
                    <div class="row">
                        <div class="col-sm-4">
                            <i class="material-icons-two-tone text-primary mb-1">sticky_note_2</i>
                        </div>
                        <div class="col-sm-8 text-md-center">
                            <h5>{{ news|length }}</h5>
                            <span>{% trans %}title_news{% endtrans %}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <i class="material-icons-two-tone text-primary mb-1">sticky_note_2</i>
                        </div>
                        <div class="col-sm-8 text-md-center">
                            <h5>{{ calendars|length }}</h5>
                            <span>{% trans %}title_calendars{% endtrans %}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-table">
                <div class="col-sm-6 card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <i class="material-icons-two-tone text-primary mb-1">people</i>
                        </div>
                        <div class="col-sm-8 text-md-center">
                            <h5>{{ groups|length }}</h5>
                            <span>{% trans %}title_groups{% endtrans %}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h6>{% trans %}title_last_users{% endtrans %}</h6>
        <hr>
        {% include '_cells/adminUserTable.html.twig' with {'users': users, 'noaction': true, 'noemail': true} %}
    </div>
    <div class="col-md-6">
        <h6>{% trans %}title_last_news{% endtrans %}</h6>
        <hr>
        {% include '_cells/newsTable.html.twig' with {'news': news, 'noaction': true} %}

        <h6>{% trans %}title_last_calendars{% endtrans %}</h6>
        <hr>
        {% include '_cells/calendarTable.html.twig' with {'calendars': calendars, 'noaction': true} %}
    </div>
</div>

{% endblock %}
