{% extends 'dashboard_base.html.twig' %}

{% block title %}{% trans %}title_administration_logs{% endtrans %}{% endblock %}

{% block body %}

<div class="row">
    <div class="col-lg-12">
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">fichier</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for i in files %}
                    <tr>
                        <th scope="row">{{i.filename}}</th>
                        <td>{% include '_cells/adminLogsActions.html.twig' with {'filename': i.filename} %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
