{% extends 'dashboard_base.html.twig' %}

{% block title %}{% trans %}title_administration_logs{% endtrans %}{% endblock %}

{% block body %}

<div class="row">
    <div class="col-lg-12">        
            
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold">
                        {{ name }} {% include '_cells/adminLogsActions.html.twig' with {'filename': name} %}
                    </h6>
                </div>
                <div class="card-body">
                    <pre class="text-wrap">
                        {{ content |raw |nl2br}}
                    </pre>
                </div>
            </div>
            
        
    </div>

</div>

{% endblock %}
