{% extends 'dashboard_base.html.twig' %}

{% block title %}{% trans %}title_users_list{% endtrans %}{% endblock %}

{% block body %}
<div class="row">
  <div class="col-5">{{form(searchForm)}}</div>
</div>
<div class="row">
  <div class="col-8">
    {% include '_cells/adminUserTable.html.twig' with {'users': pagination} %}
  </div>
</div>
<div class="row">{{ knp_pagination_render(pagination) }}</div>
{% endblock %}
