{% extends 'dashboard_base.html.twig' %}

{% block title %}{% trans %}title_administration_watchdog{% endtrans %}{% endblock %}
{% block subtitle %}{% trans %}subtitle_administration_watchdog{% endtrans %}{% endblock %}

{% block body %}

<div class="row">
    <div class="col">
        {% include '_cells/historyDisplay.html.twig' with {'history': pagination} %}
    </div>
</div>
<div class="row">
    {{ knp_pagination_render(pagination) }}
  </div>
{% endblock %}
