{% if currentPath != path('admin_user_view', {'id': user.id}) %}
<a href="{{ path('admin_user_view', {'id': user.id}) }}" class="btn btn-primary btn-sm" data-bs-toggle="tooltip" data-placement="top"  title="{% trans %}tooltip_view{% endtrans %}"><i class="far fa-eye"></i></a>
{% endif %}
<a href="{{ path('admin_user_edit', {'id': user.id}) }}" class="btn btn-success btn-sm" data-bs-toggle="tooltip" data-placement="top"  title="{% trans %}tooltip_edit{% endtrans %}"><i class="far fa-edit"></i></a>
{% if user.isDesactivated %}
    <a href="{{ path('admin_user_disable', {'id': user.id}) }}" class="btn btn-warning btn-sm" data-bs-toggle="tooltip" data-placement="top"  title="{% trans %}tooltip_user_enable{% endtrans %}"><i class="fas fa-user-check"></i></a>
{% else %}
    <a href="{{ path('admin_user_disable', {'id': user.id}) }}" class="btn btn-danger btn-sm" data-bs-toggle="tooltip" data-placement="top"  title="{% trans %}tooltip_user_disable{% endtrans %}"><i class="fas fa-user-times"></i></a>
{% endif %}
<a href="{{ path('app_home', { _want_to_be_this_user: user.email }) }}" class="btn btn-info btn-sm" data-bs-toggle="tooltip" data-placement="top"  title="{% trans %}tooltip_become_user{% endtrans %}"><i class="fas fa-user-secret"></i></a>