{% set slicelimit = (limit is defined)? limit : null %}  
{% set counter = 0 %}

{% if calendars|length > 0 %}
<div class="table-responsive">
  <table class="table table-dark table-striped table-hover align-middle">
    <thead>
      <tr>
        <th scope="col">{% trans %}title_title{% endtrans %}</th>        
        <th scope="col">{% if noauthor is not defined %}{% trans %}title_author{% endtrans %} / {% endif %}{% trans %}title_date{% endtrans %}</th>
        {% if noaction is not defined %}
          <th scope="col">{% trans %}title_actions{% endtrans %}</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>      
      {% for i in calendars |slice(0, slicelimit) %} 
      {% set counter = counter + 1 %}
          <tr>
            <td>              
              <a href="{{ path('calendar_view', {'id': i.id}) }}" class="text-{{ (i.archive)? 'danger' : 'primary' }}" {% if i.archive %} data-bs-toggle="tooltip" data-placement="top"  title="{% trans %}tooltip_archived{% endtrans %}" {% endif %} >`{{i.title | u.truncate(20, '...')}}`</a>
              {% if i.status is defined %} 
                <br /><small>{% trans %}title_status{% endtrans %}:</small>
                <small>{{ i.status|trans }}</small>
              {% endif %}
              {% if i.removingDate is defined %} 
                <br /><small>{% trans %}title_can_be_removed_at{% endtrans %}:</small>
                <small class="text-{% if date(i.removingDate) < date() %}danger{% endif %}{% if date(i.removingDate) == date() %}warning{% endif %}{% if date(i.removingDate) > date() %}success{% endif %}">{{ i.removingDate|date('_datetime.format'|trans) }}</small>
              {% endif %}
              {% if i.user is defined %}            
                <br /><small>{% trans %}title_user{% endtrans %}:</small>
                <small><a href="{{ path('user_view', {'id': i.user.id}) }}" >{{ i.user.firstname  | u.truncate(2, '.')}} {{ i.user.lastname }}</a></small>
              {% endif %}
            </td>
            <td>
              {% if noauthor is not defined %}
                <a href="{{ path('user_view', {'id': i.creator.id }) }}" >{{i.creator.firstname | u.truncate(2, '.')}} {{i.creator.lastname}}, {{i.creator.mainGroup ? i.creator.mainGroup.shortname : 'value_no_group'|trans}}</a><br />
              {% endif %}            
              {{i.createdAt |date('_datetime.format'|trans)}}
            </td>
            {% if noaction is not defined %}
              <td>
                {% include '_cells/calendarActions.html.twig' with {'calendar': i} %}
              </td>
            {% endif %}
          </tr>      
    {% endfor %} 
    </tbody>
  </table>
</div>

{% if slicelimit is not null and calendars|length > slicelimit %}
  <div class="row my-2">
    <div class="col">
        <a class="btn btn-primary btn-sm" href="{{ path('calendar_list') }}">{% trans %}button_view_more{% endtrans %}</a>
    </div>
  </div>
{% endif %}

{% else %}
  <p>{% trans %}no_data{% endtrans %}</p>
{% endif %}