{% set slicelimit = (limit is defined)? limit : null %}  
{% set counter = 0 %}

{% if news|length > 0 %}
<div class="table-responsive">
  <table class="table table-dark table-striped table-hover align-middle">
    <thead>
      <tr>
        <th scope="col">{% trans %}title_title{% endtrans %}</th>        
        <th scope="col">{% if noauthor is not defined %}{% trans %}title_author{% endtrans %} / {% endif %}{% trans %}title_date{% endtrans %}</th>
        {% if noaction is not defined %}
        <th scope="col">{% trans %}title_actions{% endtrans %}</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>      
      {% for i in news |slice(0, slicelimit) %} 
      {% set counter = counter + 1 %}
          <tr>
            {% if noicon is not defined and notype is not defined %}
              <td>
                {% if noicon is not defined %}
                  {% set groupLogo = 'dashboard/img/nologo.png' %}
                  {% if i.mainGroup %}
                      {% if i.mainGroup.imageSize != 0 %}
                          {% set groupLogo = 'uploads/groups/' ~ i.mainGroup.imageName %}
                      {% endif %}
                  {% endif %}
                  <img src="{{ asset(groupLogo) }}" alt="{{  i.mainGroup.name }} " class="img-icon">
                {% endif %}
              </td>
            {% endif %}

            <td>              
              <a href="{{ path('news_view', {'id': i.id}) }}" class="text-{{ (i.archive)? 'danger' : 'primary' }}" {% if i.archive %} data-bs-toggle="tooltip" data-placement="top"  title="{% trans %}tooltip_archived{% endtrans %}" {% endif %} >`{{i.title | u.truncate(20, '...')}}`</a>
              {% if i.content is defined %} 
                <br /><small>{% trans %}title_content{% endtrans %}:</small>
                <small>{{ i.content|trans }}</small>
              {% endif %}
              {% if i.user is defined %}            
                <br /><small>{% trans %}title_user{% endtrans %}:</small>
                <small><a href="{{ path('user_view', {'id': i.user.id}) }}" >{{ i.user.firstname  | u.truncate(2, '.')}} {{ i.user.lastname }}</a></small>
              {% endif %}
            </td>
            <td>
              {% if noauthor is not defined %}
                <a href="{{ path('user_view', {'id': i.creator.id }) }}" >{{i.creator.firstname | u.truncate(2, '.')}} {{i.creator.lastname}}, {{i.creator.mainGroup ? i.creator.mainGroup.shortname : 'value_no_group'|trans}}</a><br />
              {% endif %}            
              {{i.createdAt |date('_datetime.format'|trans)}}
            </td>
            {% if noaction is not defined %}
              <td>
                {% include '_cells/newsActions.html.twig' with {'news': i} %}
              </td>
            {% endif %}
          </tr>      
    {% endfor %} 
    </tbody>
  </table>
</div>

{% if slicelimit is not null and news|length > slicelimit %}
  <div class="row my-2">
    <div class="col">
        <a class="btn btn-primary btn-sm" href="{{ path('news_list') }}">{% trans %}button_view_more{% endtrans %}</a>
    </div>
  </div>
{% endif %}

{% else %}
  <p>{% trans %}no_data{% endtrans %}</p>
{% endif %}