{% if i.readed == false %}
<a href="{{ path('notification_markread', {'id': notification.id}) }}" class="btn btn-success btn-sm" data-bs-toggle="tooltip" data-placement="top"  title="{% trans %}tooltip_markread{% endtrans %}"><i class="fas fa-check"></i></a>
{% endif %}
<a href="{{ path('notification_delete', {'id': notification.id}) }}" class="btn btn-danger btn-sm" data-bs-toggle="tooltip" data-placement="top"  title="{% trans %}tooltip_delete{% endtrans %}" onclick="return confirm('{% trans %}confirm_ok_delete{% endtrans %}')"><i class="fa fa-trash"></i></a>
