{% extends 'dashboard_base.html.twig' %}

{% block title %}{% trans %}title_group_administration{% endtrans %}{% endblock %}
{% block subtitle %}{% trans %}title_group_administration{% endtrans %} {{ app.user.mainGroup.name }}{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-12 col-lg-6">  
      <h3>{% trans %}title_members{% endtrans %}</h3> <hr>    
      <div class="row">         
        <div class="col-12">          
            {% include '_cells/userTable.html.twig' with {'users': group.users} %}           
        </div>
      </div>        
    </div>

    <div class="col-12 col-lg-4">
      <h3>{% trans %}title_motd{% endtrans %}</h3> <hr> 
      {{form(formMOTD)}}
    </div>
  </div>
{% endblock %}
