<!DOCTYPE HTML>
<!--
	Spectral by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<meta charset="utf-8" />
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <title>ExTRAVAGANZA Night Club - {% block title %}{{ ('page_title')|trans }}{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
        <noscript><link rel="stylesheet" href="{{ asset('css/noscript.css') }}" /></noscript>
        {% block stylesheets %}{% endblock %}
        
        {% if app.request.attributes.get('_route') is not null %}
            {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
        {% else %}
            {% set currentPath = null %}
        {% endif %}
	</head>
	<body class="landing is-preload">
		<!-- Page Wrapper -->
        <div id="page-wrapper">
            <!-- Header -->
            <header id="header" class="alt">
                <h1><a href="{{ path('app_home')}}">
                    ExTRAVAGANZA Night Club Trance
                </a></h1>
                <nav id="nav">
                    <ul>
                        <li class="special">
                            <a href="#menu" class="menuToggle"><span>{{ ('title_navigation')|trans }}</span></a>
                            <div id="menu">
                                <ul>
                                    <li><a href="{{ path('app_home')}}">{{ ('title_home')|trans }}</a></li>
                                    <li><a href="#">{{ ('title_calendar')|trans }}</a></li>
                                    <li><a href="#">{{ ('title_dj')|trans }}</a></li>
                                    <li><a href="#">{{ ('title_events')|trans }}</a></li>
                                    <li><a href="#">{{ ('title_tracklist')|trans }}</a></li>
                                    <li><a href="#">{{ ('title_radio')|trans }}</a></li>
                                </ul>
                                <ul>
                                    <li><a href="#">{{ ('title_partners')|trans }}</a></li>
                                    <li><a href="#">{{ ('title_support')|trans }}</a></li>
                                </ul>
                            </div>
                        </li>
                        {% if app.user %}
                            <li class="special">
                                <a href="#menuAuth" class="authToggle">
                                    <img src="" alt="">
                                    <span>{{ app.user.getFullName() }}</span>
                                </a>
                                <div id="menuAuth">
                                    <ul>
                                        <li><a href="{{ path('me_index') }}">{{ ('title_me')|trans }}</a></li>
                                        <li><a href="{{ path('app_logout')}}">{{ ('title_logout')|trans }}</a></li>
                                    </ul>
                                </div>
                            </li>
                        {% else %}
                            <li class="special">
                                <a href="#menuAuth" class="authToggle"><span>{{ ('title_users_nav')|trans }}</span></a>
                                <div id="menuAuth">
                                    <ul>
                                        <li><a href="{{ path('app_register')}}">{{ ('title_register')|trans }}</a></li>
                                        <li><a href="{{ path('app_login')}}">{{ ('title_login')|trans }}</a></li>
                                    </ul>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </header>
            
            {% block body %}{% endblock %}

            <!-- Footer -->
            <footer id="footer">
                <ul class="icons">
                    <li><a href="#" target="_blank" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="https://www.facebook.com/ExtravaganzaNight.Radiooo" target="_blank" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                    <li><a href="https://3dxmodz.com" target="_blank" class="icon solid fa-hands-helping"><span class="label">3dxModz</span></a></li>
                    <li><a href="https://3dxchat.com" target="_blank" class="icon brands fa-dribbble"><span class="label">3DXChat</span></a></li>
                    <li><a href="mailto:nightclubextravaganza@gmail.com?subject=[SUPPORT] Informations" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
                </ul>
                <ul class="copyright">
                    <li>{{ ('footer_copyright')|trans }}</li><li>{{ ('footer_by')|trans|raw }}</li>
                </ul>
            </footer>
        </div>
        
        <!-- Scripts -->
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/jquery.scrollex.min.js') }}"></script>
        <script src="{{ asset('js/jquery.scrolly.min.js') }}"></script>
        <script src="{{ asset('js/browser.min.js') }}"></script>
        <script src="{{ asset('js/breakpoints.min.js') }}"></script>
        <script src="{{ asset('js/util.js') }}"></script>
        <script src="{{ asset('js/main.js') }}"></script>
        {% block javascripts %}{% endblock %}
	</body>
</html>
