{% extends 'dashboard_base.html.twig' %}

{% block title %}{% trans %}title_home{% endtrans %}{% endblock %}
{% block subtitle %}{% trans %}subtitle_home{% endtrans %}{% endblock %}

{% block body %}
        
<div class="row">
    <div class="col-xl-6 col-md-12">
        <div class="row">
            <h6>{% trans %}title_last_news{% endtrans %}</h6>
            <hr>
            {# {% include '_cells/newsTable.html.twig' with {'news': news, 'noaction': true} %} #}
        </div>
    </div>
    <div class="col-xl-6 col-md-12">
        {% if app.user.mainGroup.motd %}
        <div class="row">
            <div class="col">
                <h6>{% trans %}title_motd{% endtrans %}</h6>
                <hr>
                <div class="card">                    
                    <div class="card-body">{{ app.user.mainGroup.motd | raw }}</div>
                    <div class="card-footer">{% trans %}title_last_update{% endtrans %} : {{ app.user.mainGroup.motdUpdatedAt | date('_datetime.format'|trans) }}</div>
                </div>
            </div>
        </div>
        {% endif %}

    </div>
</div>
{% endblock %}
