{% extends 'base.html.twig' %}

{% block title %}{% trans %}title_user_profile{% endtrans %}{% endblock %}
{% block subtitle %}{{ user.fullName }}{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12 col-lg-4 mb-5">
      <h2>{% trans %}title_informations{% endtrans %}</h2>
      <hr>
      {% include '_cells/userInformations.html.twig' with {'user': user} %}
    </div>
    <div class="col-12 col-lg-4">
      <h2>{% trans %}title_actions{% endtrans %}</h2>
      <hr>
      <p><a href="{{ path('user_view_news', {'id': user.id}) }}" class="btn btn-success">{% trans %}button_view_user_news{% endtrans %}</a></p>
      <p><a href="{{ path('user_view_calendars', {'id': user.id}) }}" class="btn btn-success">{% trans %}button_view_user_calendars{% endtrans %}</a></p>
    </div>
  </div>
{% endblock %}
